{% extends "layouts/servicios_base.html" %}

{% block content %}
<h1>{{ servicio.nombre }}</h1>

<div class="acciones">
  <p>
    <a class="boton boton-insumo" href="{% url 'add_insumo' servicio.id %}">
      <button>Añadir insumo</button>
    </a>
  </p>
  <p>
    <a class="boton boton-multimedia" href="{% url 'add_multimedia' servicio.id %}">
     <button>Añadir contenido multimedia</button>
    </a>
  </p>
</div>

<article class="card">

    <section class="insumos">
    <h2>Insumos</h2>
    {% if insumos %}
        {% for insumo in insumos %}
            <div class="card">
                <p>{{ insumo.nombre }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay insumos registrados.</p>
    {% endif %}
</section>

    <section class="multimedia">
        <h2>Multimedia</h2>
        {% if multimedias %}
          {% for multimedia in multimedias %}
              <div class="card">
                
                {% if multimedia.tipo == "Imagen" %}
                    <!-- Renderizar imagen -->
                    <img src="{{ multimedia.url.url }}" alt="Imagen de {{ multimedia.servicio.nombre }}" width="300">
                {% elif multimedia.tipo == "Video" %}
                    
                    <video width="400" controls>
                        <source src="{{ multimedia.url.url }}" type="video/mp4">
                        Tu navegador no soporta video.
                    </video>
                {% else %}
                    <!-- Enlace genérico para otros archivos -->
                    <a href="{{ multimedia.url.url }}" target="_blank">Descargar archivo</a>
                {% endif %}

          {% endfor %}
        {% else %}
          <p>No hay contenido aún.</p>
      {% endif %}
    </section>

</article>
{% endblock %}
