{% extends "layouts/servicios_base.html" %}

{% block content %}
<h1>{{ servicio.nombre }}</h1>

<div class="acciones">
  <p>
    <a class="boton boton-insumo" href="{% url 'add_insumo' servicio.id %}">
      <button>Añadir insumo</button>
    </a>
  </p>
  <p>
    <a class="boton boton-multimedia" href="{% url 'add_multimedia' servicio.id %}">
     <button>Añadir contenido multimedia</button>
    </a>
  </p>
</div>

<article class="card">

    <section class="insumos">
    <h2>Insumos</h2>
    {% if insumos %}
        {% for insumo in insumos %}
            <div class="card">
                <p>{{ insumo.nombre }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay insumos registrados.</p>
    {% endif %}
</section>

    <section class="multimedia">
        <h2>Multimedia</h2>
        {% if multimedias %}
          {% for multimedia in multimedias %}
              <div class="card">
                <p>{{ multimedia.tipo }}</p>
                <p>{{ multimedia.url }}</p>
              </div>
          {% endfor %}
        {% else %}
          <p>No hay contenido aún.</p>
      {% endif %}
    </section>

</article>
{% endblock %}
